@use '@/styles/utils' as *;

.layout__container {
  width: 100%;
  min-width: rem(1200px);
  height: 100%;

  .v-layout {
    min-height: 100vh;
    display: flex;
  }

  .layout__warp {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $container-bg;
  }

  .layout__main {
    flex: 1;
  }

  .layout__section {
    display: flex;
    flex-direction: column;
    padding: rem(24px);

    .layout__section__header {
      margin-bottom: rem(12px);
    }

    .layout__section__title {
      font-weight: 500;
      padding-left: rem(4px);
    }
  }
}
