@use '@/styles/utils' as *;

.form-row {
  display: flex;
  flex-direction: column;
  gap: rem(8px);

  .form-row__label {
    @include font-size('16');
    font-weight: 500;

    &--required::after {
      content: '*';
      color: #e22134;
      margin-left: rem(3px);
    }
  }
}
